<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset='utf-8'>
	<title>  *  Inventario FabLab Oaxaca  * {%block titulo %}{% endblock %}</title>
	<link rel='stylesheet' href='{{STATIC_URL}}css/base.css'>
	<link rel='shortcut icon' href='{{STATIC_URL}}img/logooaxBlanco.png'>
	
	{% block style_css %}{% endblock %}

	<script src='{{STATIC_URL}}js/jquery-1.7.2.min.js'></script>
	<script src='{{STATIC_URL}}js/demo.js'></script>
	
</head>
<body>
	<header>

		<div class="contenedor" id="uno">
			<img class="icon" src='{{STATIC_URL}}img/emblem-default.png'>
			<li><a href='/'>Inicio</a></li>
		</div>	

		<div class="contenedor" id="dos">
			<img class="icon" src='{{STATIC_URL}}img/emblem-favorite.png'>
			<li><a href='/contacto'>Contacto</a></li>
			<li><a href='/sobre'>Sobre</a></li>
		</div>	

		<div class="contenedor" id="tres">
			<img class="icon" src='{{STATIC_URL}}img/emblem-new.png'>
			<li><a href='/usuario/nuevo'>Registrar nuevo Usuario</a></li>
		</div>	

		<div class="contenedor" id="cuatro">
			<img class="icon" src='{{STATIC_URL}}img/emblem-people.png'>			
			<li><a href='/usuarios'>Usuarios Registrados</a></li>			
		</div>	

		<div class="contenedor" id="cinco">
			<img class="icon" src='{{STATIC_URL}}img/emblem-system.png'>
			<li><a href='/herramientas'>Herramientas</a></li>
			<li><a href='/computadoras'>Computadoras</a></li>
			<li><a href='/consumibles'>Consumibles</a></li>
			<li><a href='/dispositivos'>Dispositivos</a></li>
			<li><a href='/muebles'>Muebles</a></li>			
		</div>	

		<div class="contenedor" id="seis">
			<img class="icon" src='{{STATIC_URL}}img/emblem-readonly.png'>
			<li><a href='/ingresar'>Login</a></li>			
		</div>	

		{% block encabezado %}{% endblock %}
		<nav>
			<ul>
				<li><a href='/'>Inicio</a></li>

				<li><a href='/ingresar'>Login</a></li>

				<li><a href='/usuarios'>Usuarios Registrados</a></li>
				<li><a href='/usuario/nuevo'>Registrar nuevo Usuario</a></li>
				
				<li><a href='/herramientas'>Herramientas</a></li>
				<li><a href='/computadoras'>Computadoras</a></li>
				<li><a href='/consumibles'>Consumibles</a></li>
				<li><a href='/dispositivos'>Dispositivos</a></li>
				<li><a href='/muebles'>Muebles</a></li>
				<li><a href='/contacto'>Contacto</a></li>
				<li><a href='/sobre'>Sobre</a></li>
			</ul>
		</nav>
		<hr>
	</header>
	<section class='contenido'>
	{% block contenido %}{% endblock %}	
	</section>
	<footer>
		<p>Inventario Beta para FabLab Oaxaca &copy;2014</p>	
	</footer>
</body>
</html>



